.search {
    display           : flex;
    flex-direction    : column;
    align-items       : center;
    justify-content   : center;
    background     : var(--layout-nav-background);
    // background        : pink;
    padding-top       : 13px;
}

.logo {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 222px;
    height         : 218px;
    // padding        : 4px 6px;
    // background     : lightcoral;

    &:hover {
        background: var(--nav-search-logo-hover);
    }
}

.versions {
    color      : var(--nav-search-version-color);
    opacity    : 90%;
    padding-top: 10px;
}